body {
    margin: 0;
    padding: 20px 0 0 0;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-weight: bold;
}

.button{
    padding: 20px 46px;
    margin-left: 88px;
    border: 2px solid black;
}
